# local directories
ZhifeiYang/**
build/**
install/**
.cache/**
**/.ipynb_checkpoints

# latex build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# data files
*.svg
*.html
*.vtu
*.pvtu

# developer files
compile_commands.json
