# local directories
ZhifeiYang/**
build/**
install/**
.cache/**

# latex build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# data files
*.svg
*.html

# developer files
compile_commands.json
